* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Lato', sans-serif;
}

.container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(36, 36, 36);
   background: linear-gradient(160deg, rgba(36, 36, 36, 1) 0%, rgba(21, 21, 21, 1) 50%, rgba(16, 16, 16, 1) 100%);
}

.container--rain {
   background: rgb(36, 36, 36);
   background: linear-gradient(160deg, rgba(36, 36, 36, 1) 0%, rgba(21, 21, 21, 1) 50%, rgba(16, 16, 16, 1) 100%);
}

.container--cloud {
   background: rgb(18, 65, 88);
   background: linear-gradient(180deg, rgba(18, 65, 88, 1) 0%, rgba(14, 24, 31, 1) 100%);
}

.container--sun {
   background: rgb(182, 214, 230);
   background: linear-gradient(180deg, rgba(182, 214, 230, 1) 0%, rgba(53, 149, 208, 1) 100%);
}

.app {
   height: 80%;
   width: 80%;
   max-width: 1080px;
   max-height: 700px;
   display: flex;
   flex-direction: column;
   background-image: url('../../public/img/rainy.jpg');
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   -webkit-box-shadow: 15px 15px 30px 10px #0C0C0C;
   box-shadow: 15px 15px 30px 10px #0C0C0C;
}

.app--rain {
   background-image: url('../../public/img/rainy.jpg');
}

.app--cloud {
   background-image: url('../../public/img/cloudy.jpg');
}

.app--sun {
   background-image: url('../../public/img/sunny3.jpg');
}

.app__result {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.app__aside {
   display: flex;
   flex-direction: column;
   height: 40%;
   background-color: rgba(27, 27, 27, 0.219);
   backdrop-filter: blur(5px);
}

@media(min-width: 992px) {
   .app {
      flex-direction: row;
   }

   .app__result {
      flex-grow: 0;
      flex-basis: 70%;
      justify-content: flex-start;
   }

   .app__aside {
      flex-basis: 30%;
      height: 100%;
   }
}





/* width */
::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
   margin-top: 15px;
   margin-bottom: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #81A09A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #E0E3E3;
}



::-webkit-input-placeholder {
   /* Edge */
   color: #9EA7A6;
}

:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
   color: #9EA7A6;
}

::placeholder {
   color: #9EA7A6;
}