.form {
   display: flex;
}

.form__input {
   flex-grow: 1;
   align-self: flex-end;
   min-width: 0px;
   margin: 0 30px;
   padding: 5px 0;
   font-size: 1.8rem;
   background-color: transparent;
   color: #9EA7A6;
   border: none;
   border-bottom: 1px solid #9EA7A6;
   box-shadow: none !important;
   outline: none;
}

.form__btn {
   background-color: #81A09A;
   color: #28434C;
   border: none;
   box-shadow: none;
   outline: none;
   cursor: pointer;
}

.form__btn--rain {
   background-color: #81A09A;
   color: #28434C;
}

.form__btn--cloud {
   background-color: #D66C05;
   color: rgba(14, 24, 31, 1);
}

.form__btn--sun {
   background-color: #AACDE1;
   color: rgb(29, 45, 51);
}

.form__icon {
   font-size: 1.8rem;
   padding: 20px;
}

@media(min-width: 768px) {
   .form__input {
      margin: 0 50px;
      font-size: 2rem;
   }
}

@media(min-width: 992px) {
   .form__icon {
      font-size: 2rem;
      padding: 25px;
   }
}